/* ------------------------------PAGESTYLING----------------------------- */
.field{
    height:600px;
    width:1200px;
    background-color: lightblue;
    position: relative;
    margin-right: 8em;
    margin-top:.5em;
    border: 10px solid darkgray;
    border-radius: 10px 10px;
    box-shadow: 
    0 0 0 5px lightblue,
    0 0 0 7px darkgray;
    position: absolute;
    left:30%;
    overflow:hidden
}
.inputs{
    float:left;
    background-color: grey;
      padding: 3em;  
    margin-left: 4em;
    margin-top:2.75em;   
    border: 8px solid lightblue;
    border-radius: 10px 10px;
    box-shadow: 
     0 0 0 5px darkgray,
    0 0 0 9px lightblue 
    
}
h1{
	 transform: translate(19.2em, -0.1em); 
    font-size: 1.6em;
    color:darkgrey;
    text-shadow: 4px 4px lightblue;
    width:1em;
    word-break:break-word;
    float:left;
    letter-spacing:1em;
    white-space:pre-wrap;
    font-variant: small-caps;
   
   

}
 h3{
    padding:1em, 0em ;
    color:lightgray;

} 
h2{
    color:lightgray;
}
.titles{
    text-align: center;
    margin-top:1.5em;
}
button{
    transform: translate(15em ,0em);
}
body{
    background-color: lightgray;
}
.innerdiv{
    transform: translate(0em, -2em);
}
hr{
    border: 3px solid lightblue;
}
.feedback{
    background-color: gray;
    height: 14em;
    width:64em;
    float:right;
    margin-right:12.5em;
    padding:1em;
    margin-top:42em;
    border: 5px solid lightblue;
    border-radius: 10px 10px;
     box-shadow: 
    0 0 0 3px darkgray,
    0 0 0 5px lightblue
}
.innerfeed1{
   float:left;
   height:15%;
   width:45%;
   background-color: gray

}
.innerfeed2{
 float:right; 
 height:15%;
 width:45%;
 background-color:gray
}
/* ------------------------------SHAPES-------------------------------------- */
.Triangle {
    height: 0;
    width: 0;
    position: absolute
}
.Square {
	  
    background: #FF5555;
    position: absolute
}
.Rectangle {
    background: lightgreen;
    position: absolute
}
.Circle {
	
    background: mediumpurple;
    position: absolute;
}